/*@import "compass/reset";*/
@import 'reset.css';
@import 'semantic.gs/stylesheets/scss/grid.scss';

@import "compass/css3";
@import "compass/typography/lists/horizontal-list";

@import url(http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext);


//////////
// GRID //
//////////
// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


$zelena: #44A72C ;
$oranzova: #DD5500;
$fialova: #660055;
$seda: #f3f3f3;
$bledezelena: #ddffaa;

$font_text: 'Lora', Georgia, "Times New Roman", "DejaVu Serif", serif;
/*$font_text: "Times New Roman", "DejaVu Serif", serif;*/
$font_nadpis: 'Bree serif', Georgia, "Times New Roman", "DejaVu Serif", serif;

////////////
// LAYOUT //
////////////

strong { 
    font-weight: bold;
}
em {
    font-style:italic;
}

pre, code {
    background-color: #fafafa;
    font-family: monospace;
}
pre {
    padding: 5px;
}

body {
    max-width: 960px;
    margin: 1ex auto;
    overflow: auto;
}
#body {
    font-family: $font_text;
    font-size: 14pt;
    border: $oranzova solid 3px;
    @include border-radius(15px);
    padding: 1ex 1em;

    > header {
        font-family: $font_nadpis;
        border-bottom: solid $oranzova 2px;
        padding-bottom: 1ex;
        margin-bottom: 1em;
        a {
            text-decoration: none;
            color: $oranzova;
        }
        h1 {
            font-size: 250%;
            font-weight: bold;
            padding: 0px;
        }
        img {
            vertical-align: middle;
        }
        ul {
            @include push(1);
            display: inline;
        }
        li {
            display: inline-block;
            margin: 5px 5px;
            a {
                display: inline-block;
                padding: 5px 7px 2px;
                text-decoration: overline;
            }
        }
        li:hover {
            a {
                text-decoration: underline;
            }
        }
    }
}

main {
    line-height: normal;
    h1, h2, h3, h4, h5, h6 {
        font-family: $font_nadpis;
        font-weight: bold;
        color: $oranzova;
        margin-top: 1em;
        margin-bottom: 1ex;
    }
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 140%;
    }
    h3 {
        font-size: 111%;
    }
    ul {
        margin: 0.5ex 0px  0.5ex 40px  ;
        li {
            list-style-type: disc;
        }
    }
    p {
        margin: 0.5ex 0px  0.5ex 0px  ;
    }
}

footer {
    font-family: $font_nadpis;
    font-size: 77%;
    text-align: right;
    border-top: solid $oranzova 1px;
    margin-top: 1em;
    padding-top: 1ex;
    a {
        color: $oranzova;
    }
}

.login {
    text-align: right;
    @include pull(4);
    line-height: 150%;
}

.inout {
    float: right;
    text-align: right;
    a {
        text-decoration: overline;
    }
    a:hover {
        text-decoration: underline;
    }
    
}

.pridat_otazku  {
    td {
        padding-right: 1ex;
        padding-bottom: 5px;
    }
    textarea {
        font-family: $font_text;
        font-size: 110%;
        max-width: 100%;
    }
}

input.dobre {
    border: green solid 2px;
}
input.spatne { 
    border: red solid 2px;
}

p.spatne {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
}
p.dobre {
    @extend p.spatne;
    color: green;
}

.spravna_odpoved {
    color: green;
}
.spatna_odpoved {
    color: red;
}

.odeslat {
    text-align: right;
    margin: 1em;
    margin-right: 2em;
}

.seznam_otazek {
    li {
        margin-bottom: 1em;
        list-style-type: none;
        border: 1px solid $fialova;
        @include border-radius(8px);
    }
    li:hover {
        background-color: $bledezelena;
    }
    h2 {
        font-size: 105%;
        color: $fialova;
        display: inline-block;
        @include column(6);
    }
    .odkazy {
        display: inline-block;
        @include column(6);
    }
    a {
        @include inline-block;
        padding: 3px 5px;
        background: #eee;
        color: $fialova;
        text-decoration: none;
        @include border-radius(5px);
        border: 2px ridge black; 
    }
    a:hover {
        background: $seda;
        border-style: inset;
    }
    p {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.otazka {
    @extend .seznam_otazek;
    .rendruj {
        padding-top: 4em;
    }
}

.anone {
    text-align: center;
    margin-bottom: 2em;
}

.bar {
    background-color: $oranzova;
    width: 10px;
    display: inline-block;
    padding: 0px;
    margin: 1px;
}
.bar0 { @extend .bar; height: 22px; }
.bar1 { @extend .bar; height: 11px; }
.bar2 { @extend .bar; height: 40px; }
.bar3 { @extend .bar; height: 60px; }
.bar4 { @extend .bar; height: 30px; }
.bar5 { @extend .bar; height: 17px; }
.bar6 { @extend .bar; height: 50px; }



.clear {
    clear: both;
}

/*    Javascript CSS   */

.j-filterp {
    text-align: center;
    margin-top: -1em;
    margin-bottom: 1em;
}

.kalendar1, .kalendar2 {
    input {
        width: 10em;
    }
}

#kalendar1, #kalendar2 {
    position: relative;
    table {
        border-collapse: collapse;
        border: 1px solid brown;
        background-color: #FAFAD2;
        position: absolute;
        top: -1em;
        left: calc(11em + 10px);
    }
    th {
        color: brown;
        border-bottom: 1px solid brown;
    }
    th, td {
        font-size: 12px;
        text-align: center;
        padding: 2px 3px 2px 2px;
    }
    thead th {
        text-align: center;
        color: #FAFAD2;
        background-color: brown;
    }
    thead th:first-child,
    thead th + th + th {
        background-color: #C00000;
        cursor: pointer;
    }
    .dnes {
        color: #FAFAD2;
        background-color: brown;
    }
    .akt {
        color: #FAFAD2;
        background-color: red;
    }
    td {
        cursor: pointer;
    }
    #content {
        padding-bottom: 120px;
    }
    #main {
        position: relative;z-index: 1;
    }
    input.ukazka {
        float:right;
        margin-right: 20px;
    }
}





/*@import 'responsive';*/


// vim:tabstop=4:shiftwidth=4
