/*@import "compass/reset";*/
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext);
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

/*$font_text: "Times New Roman", "DejaVu Serif", serif;*/
strong {
  font-weight: bold; }

em {
  font-style: italic; }

pre, code {
  background-color: #fafafa;
  font-family: monospace; }

pre {
  padding: 5px; }

body {
  max-width: 960px;
  margin: 1ex auto;
  overflow: auto; }

#body {
  font-family: "Lora", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 14pt;
  border: #DD5500 solid 3px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 1ex 1em; }

header {
  font-family: "Bree serif", Georgia, "Times New Roman", "DejaVu Serif", serif;
  border-bottom: solid #DD5500 2px;
  padding-bottom: 1ex;
  margin-bottom: 1em; }
  header a {
    text-decoration: none;
    color: #DD5500; }
  header h1 {
    font-size: 250%;
    font-weight: bold;
    padding: 0px; }
  header img {
    vertical-align: middle; }
  header ul {
    margin-left: 9.375%;
    display: inline; }
  header li {
    display: inline-block;
    margin: 5px 5px; }
    header li a {
      display: inline-block;
      padding: 5px 7px 2px;
      text-decoration: overline; }
  header li:hover a {
    text-decoration: underline; }

main {
  line-height: normal; }
  main h1, main h2, main h3, main h4, main h5, main h6 {
    font-family: "Bree serif", Georgia, "Times New Roman", "DejaVu Serif", serif;
    font-weight: bold;
    color: #DD5500;
    margin-top: 1em;
    margin-bottom: 1ex; }
  main h1 {
    font-size: 200%; }
  main h2 {
    font-size: 140%; }
  main h3 {
    font-size: 111%; }
  main ul {
    margin: 0.5ex 0px 0.5ex 40px; }
    main ul li {
      list-style-type: disc; }
  main p {
    margin: 0.5ex 0px 0.5ex 0px; }

footer {
  font-family: "Bree serif", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 77%;
  text-align: right;
  border-top: solid #DD5500 1px;
  margin-top: 1em;
  padding-top: 1ex; }
  footer a {
    color: #DD5500; }

.login {
  text-align: right;
  margin-right: 34.375%;
  line-height: 150%; }

.inout {
  float: right;
  text-align: right; }
  .inout a {
    text-decoration: overline; }
  .inout a:hover {
    text-decoration: underline; }

.pridat_otazku td {
  padding-right: 1ex;
  padding-bottom: 5px; }
.pridat_otazku textarea {
  font-family: "Lora", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 110%;
  max-width: 100%; }

input.dobre {
  border: green solid 2px; }

input.spatne {
  border: red solid 2px; }

p.spatne, p.dobre {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 150%; }

p.dobre {
  color: green; }

.odeslat {
  text-align: right;
  margin: 1em;
  margin-right: 2em; }

.bar, .bar0, .bar1, .bar2, .bar3, .bar4, .bar5, .bar6 {
  background-color: #DD5500;
  width: 10px;
  display: inline-block;
  padding: 0px;
  margin: 1px; }

.bar0 {
  height: 22px; }

.bar1 {
  height: 11px; }

.bar2 {
  height: 40px; }

.bar3 {
  height: 60px; }

.bar4 {
  height: 30px; }

.bar5 {
  height: 17px; }

.bar6 {
  height: 50px; }

.clear {
  clear: both; }

/*@import 'responsive';*/

/*# sourceMappingURL=styles.css.map */
