{% extends "base.html" %}

{% block menu %} {% endblock menu %}

{% block main %}

  {% if "student" in session or "ucitel" in session %}  
    <h1>Jsi přihlášen</h1>

    <ul>
    {% if "student" in session %}  
      <li>Jsi přihlášen jako <strong>student: {{jmeno}} -- {{session.student}}
                                                                </strong>.</li>
    {% elif "ucitel" in session %}  
      <li>Jsi přihlášen jako <strong>učitel: {{jmeno}} -- {{session.ucitel}}
                                                                </strong>.</li>
    {% endif %}  
      <li>Přihlášení je platné do zavření prohlížeče.</li> 
      <li>Pokud se rozhodneš tento web opustit prosím 
        <a href="{{url_for('logout')}}">odhlas se zde</a> nebo v pravém
        horním rohu.</li>
    </ul>

    <p class="logout"> 
      <strong><a href="{{url_for('logout')}}">Odhlásit se</a></strong>;
      <strong><a href="{{url_for('index')}}">Hlavní strana</a></strong>
    </p>

  {% else %}

    <h1>Přihlaste se prosím</h1>

    <p><strong style="color:red;">
    {% if spatne is defined %}
      Neplatné přihlašovací údaje.  
    {% endif %}
    {% if url is defined %}
      Stránka 
      <a href="{{request.url_root[:-1]+url}}">{{request.url_root[:-1]+url}}</a>
      vyžaduje přihlášení.
    {% endif %}
    </strong></p>

    <form method="post" action="{{url_for('login')}}">
      <p class="login">
        uživatelské jméno: <input type="text" name="login" /> <br />
        heslo: <input type="password" name="passwd" /> <br />
      {% if url is defined %}
        <input type="hidden" name="url" value="{{url}}" /> 
      {% endif %}
        <input class="submit" type="submit" name="ok" value="Přihlásit se" /> 
      </p>
    </form>
  {% endif %}
{% endblock main %}
