{% extends "otazka.html" %}

{%block nadpis%}Editovat otázku{%endblock nadpis%}


{% block rendruj %}

{% if chyba is defined %}
<p class="spatne">{{chyba}}</p>
{% endif %}
  
<form method="post" action="{{url_for('otazka_editovat', id=otazka.id)}}">
  <p><strong>Nadpis/Jméno otázky:</strong><br />
  <input type="text" name="jmeno" size="80" 
{#         autocomplete="off" #}
         value="{{otazka.jmeno}}"/>
  </p>
  <table class="pridat_otazku">
    <tr>
      <td><strong>Typ otázky:</strong></td> 
      <td>
        {%if otazka.typ_otazky is defined %}
        {%  if otazka.typ_otazky == "O" %}
        {%    set o = 'selected="selected"' %}
        {%  elif otazka.typ_otazky == "U" %}
        {%    set u = 'selected="selected"' %}
        {%  elif otazka.typ_otazky == "C" %}
        {%    set c = 'selected="selected"' %}
        {%  endif %}
        {%endif %}
        <select name="typ_otazky">
          <option value="O" {{o}}>Otevřená</option>
          <option value="U" {{u}}>Uzavřená</option>
          <option value="C" {{c}}>Číselná</option>
        </select>
      </td>
    </tr>
  </p>
    <tr>
      <td style="vertical-align: middle;"><strong>Zadání:</strong></td>
      <td><textarea name="obecne_zadani" rows="15" cols="40">{{otazka.obecne_zadani}}</textarea></td>
    </tr>
    <tr>
      <td><strong>Správná odpověď:</strong></td>
      <td><input class="dobre" type="text" name="spravna_odpoved" size="60" 
                 value="{{otazka.spravna_odpoved}}" /></td>
    </tr>
    <tr>
      <td><strong>Špatná odpověď I:</strong></td>
      <td><input class="spatne" type="text" name="spatna_odpoved1" size="60" 
                 value="{{otazka.spatna_odpoved1}}" /></td>
    </tr>
    <tr>
      <td><strong>Špatná odpověď II:</strong></td>
      <td><input class="spatne" type="text" name="spatna_odpoved2" size="60"
                 value="{{otazka.spatna_odpoved2}}" /></td>
    </tr>
    <tr>
      <td><strong>Špatná odpověď III:</strong></td>
      <td><input class="spatne" type="text" name="spatna_odpoved3" size="60"
                 value="{{otazka.spatna_odpoved3}}" /></td>
    </tr>
    <tr>
      <td><strong>Špatná odpověď VI:</strong></td>
      <td><input class="spatne" type="text" name="spatna_odpoved4" size="60"
                 value="{{otazka.spatna_odpoved4}}" /></td>
    </tr>
    <tr>
      <td><strong>Špatná odpověď V:</strong></td>
      <td><input class="spatne" type="text" name="spatna_odpoved5" size="60"
                 value="{{otazka.spatna_odpoved5}}" /></td>
    </tr>
    <tr>
      <td><strong>Špatná odpověď VI:</strong></td>
      <td><input class="spatne" type="text" name="spatna_odpoved6" size="60"
                 value="{{otazka.spatna_odpoved6}}" /></td>
    </tr>
  </table>

  <p class="odeslat"> 
  <input type="submit" name="ulozit" value="Uložit"/> </p>

</form>
  
  
{% endblock rendruj %}

