{% extends "ucitel.html" %}

{% block head %} 
  {{ mathjaxheader() }}
  {{ jqueryheader() }}
{% endblock head %}

{% block main %}
<h1>Otázky</h1>

<ul class="listfilter seznam_otazek">
{%for id, ucitel_login, ucitel_jmeno, jmeno, zadani in otazky%}
  <li><section>
    <header>
      <h2>{{jmeno}}</h2>
      <span class="odkazy">
        <a href="{{url_for('otazky_ucitel', login=ucitel_login)}}">{{ucitel_jmeno}}</a>
        <a href="{{url_for('otazka_zobrazit', id=id)}}">zobrazit</a>
        <a href="{{url_for('otazka_editovat', id=id)}}">editovat</a>
        <a href="{{url_for('otazka_smazat', id=id)}}">smazat</a></br>
      </span>
    </header>
    <p>{{zadani[:80]}}</p>
  </section></li>
{%endfor%}
</ul>

{% endblock main %}
