{% extends "ucitel.html" %}


{% block head %}
  {{kalendarheader()}}
{% endblock %} 

{% block main %}

{% if zprava is defined %}
<p class="dobre">{{zprava}}</p>
{% endif %}

<form action="" method="POST">
	<h1>Vytvořit test</h1>

	<label><h4>Název testu:</h4></label>
	<input type="text" name="nazev_testu"><br>
	
	<div class="kalendar1">
		<label><h4>Platnost:</h4></label>
	  <label>od: </label>
	  <input type="text" placeholder='den.mes.rok' name="datum1" onkeyup="skryjKalendar1()">
		<img src="/static/kalendar.png" onclick="zobrazSkryjKalendar1(m,r)" 
	       alt="kalendář" title="kalendář" height="24" width="24" 
	       style="cursor:pointer; vertical-align:bottom; position:relative; top:-2px;">
	       <input type='text' placeholder='hod:min' name='cas_od'><div id="kalendar1"></div>
	</div>

	<div class="kalendar2">
	  <label>do: </label>
	  <input type="text" placeholder='den.mes.rok' name="datum2" onkeyup="skryjKalendar2()"> 
		<img src="/static/kalendar.png" onclick="zobrazSkryjKalendar2(m,r)"
	       alt="kalendář" title="kalendář" height="24" width="24"
	       style="cursor:pointer; vertical-align:bottom; position:relative; top:-2px;"> 
	       <input type='text' placeholder='hod:min'name='cas_do'><div id="kalendar2"></div>
	</div>

	<h4>Otázky:</h4>
	<ul class="seznam_otazek">
	{%for id, ucitel_login, ucitel_jmeno, jmeno, zadani in otazky %}
		<li><section>
			<header>
				<h2> <input type="checkbox" name="check" value="{{jmeno}}"> {{jmeno}}</h2>
				<span class="odkazy">
				<a href="{{url_for('otazky_ucitel', login=ucitel_login)}}">{{ucitel_jmeno}}</a>
				<a href="{{url_for('otazka_zobrazit', id=id)}}">zobrazit</a>
				<a href="{{url_for('otazka_editovat', id=id)}}">editovat</a>
				<a href="{{url_for('otazka_smazat', id=id)}}">smazat</a><br>
				</span>
			</header>
			<p>{{zadani[:80]}}</p>
		</section></li>
	  {%endfor%}
	</ul>
	<input type="submit" value="Odeslat"
	style="margin-left:300px; margin-top:5px; width:303px; height: 50px;">
</form>

{% endblock main %}
