{% extends "ucitel.html" %}

{% block main %}
<article>
  <h1>Upload</h1>

  <p>Na tomto místě můžete hromadně vložit několik úloh nebo celý test.
  Formát souboru viz příklad uvedený pod formulářem.</p>

  <h2>Vybrat  a odeslat soubor</h2>

  <form enctype="multipart/form-data" method="post">

    <p>
    <input type="radio" name="typ" value="otazky" checked="checked" /> 
    Chci vložit jen testové otázky <br />
    <input type="radio" name="typ" value="test" />
    Chci vložit celý test a označit tento test jménem: 
    <input type="input" name="jmeno_testu" />
    </p>

  <p>
  Vyberte soubor: <input type="file" name="datafile" size="40"><br />
  <br />
  Odešlete soubor:<input type="submit" value="Odeslat">
  </p>
  </form>

  <h2>Příklad</h2>
  <pre><code>::task Dělič I.
Vypočítejte výstupní napětí nezatíženého děliče 
$R_1=4,2k\Omega$, $R_2=4,2k\Omega$, kde vstupní napětí $U_1=12V$.
::close
:- 12V
:- -12V
:+ 6V
:- 0V

::task Dělič II.
Vypočítejte výstupní napětí nezatíženého děliče $R_1=4,2k\Omega$, 
$R_2=4,2k\Omega$, kde vstupní napětí $U_1=12V$.
::number 6,000 0,010

::task Dělič III.
Vypočítejte výstupní napětí nezatíženého děliče $R_1=4,2k\Omega$,
$R_2=4,2k\Omega$, kde vstupní napětí $U_1=12V$.
::open
  </code></pre>

</article>
{% endblock main %}
